.head{
    text-align: center;
    font-size: 100px;
}

.button {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

#but {
    font-size: 20px;
    margin-right: 10px;
    width: 160px;
    height: 80px;
    background: #9d9996;
    border-radius: 40px;
}