<app-navbar></app-navbar>

<div class="main-card">
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://wallpaperaccess.com/full/2605054.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(179, 169, 169, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Cricket</h5>
            <a href="#!" class="btn btn-outline-success">Button</a>
        </div>
    </div>
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://images.unsplash.com/photo-1579952363873-27f3bade9f55?ixlib=rb-1.2.1&w=1000&q=80"
                class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Football</h5>
            <a href="#!" class="btn btn-outline-success">Button</a>
        </div>
    </div>
    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/originals/fe/0c/4b/fe0c4b86a01ad810634f48919401721d.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Badminton</h5>
            <a href="#!" class="btn btn-outline-success">Button</a>
        </div>
    </div>

    <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://tse1.mm.bing.net/th?id=OIP.-hawDF_C3WPNiqw3ZuvZzwHaLH&pid=Api&P=0" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Table Tennis</h5>
            <a href="#!" class="btn btn-outline-success">Button</a>
        </div>
    </div>
</div>